:root {
    --main-bg: #00103f;
    --alert: #940b0b;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.card{
    margin-top: 8em;
    box-shadow: 5px 5px 16px;
}

.error{
    color: var(--alert);
}