:root {
    --alert: #940b0b;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1rem;
}

.card{
    margin-top: 5em;
    box-shadow: 5px 5px 16px;
}
.card:hover {
    box-shadow: 5px 5px 16px green !important;
    cursor: pointer;
}

.error{
    color: var(--alert);
}

.navbar-container {
    position: fixed;
}